// main: ../style.less
.footer {
    background-color: @black;
    padding: 1.35rem 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__nav-link {
    color: @white;
}

.footer__copyright {
    color: @white;
}

.footer__credits {
    display: flex;
    align-items: center;
}

.social__icon {
    margin: 0 2rem;
}