// main: ../style.less
.news {
    margin-top: 12rem;
    margin-bottom: 3rem;
}

.news__header {
    text-align: center;
    margin-bottom: 2rem;
}
.news__title {
    font-size: 3rem;
    text-transform: uppercase;
    color: @black;
}

.news__footer {

    text-align: right;
    
    a {
        text-decoration: inherit;
        color: @gray;
    }
}